<%= form_with(model: spending_month, local: true) do |form| %>
  <% if spending_month.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spending_month.errors.count, "error") %> prohibited this spending_month from being saved:</h2>

      <ul>
      <% spending_month.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
