<div class="bg-white jumbotron text-center">
  <h1 class="display-4">hello</h1>
  <p class="lead my-4">welcome to mospend!</p>
  <p>mospend helps you keep track your monthly spendings</p>
  <hr class="my-4">
  <p>start using mospend today!</p>
  <p>click on the <span class="font-italic">signup</span> button below to get started</p>
  <p class="lead p-1">
    <%= link_to 'signup', new_user_registration_path, class: "btn btn-link" %>
  </p>
</div>
