<div class="bg-white jumbotron text-center">
  <h1 class="display-4">oops</h1>
  <p class="lead my-4">we can't find the page</p>
  <p>it may have been removed or you may have typed a wrong link</p>
  <hr class="my-4">
  <p>please click on the <span class="font-italic">home</span> button below to get redirected to safety</p>
  <p class="lead p-1">
    <%= link_to 'home', root_path, class: "btn btn-link" %>
  </p>
</div>
