$font-family-base: 'Roboto Mono', monospace;

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

$body-top-padding: 50px;
$t-white: rgba(255, 255, 255, 0.97);

h1 {
  font-size: 2rem;
}

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

body {
  height: 200vh;
  padding-top: $body-top-padding;
}

#dashboard {
  background: $t-white;
  font-size: 2rem;

  .nav-link {
    padding: 0;
  }
}

#flash {
  background-color: rgba(255, 255, 255, 0.95);
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%);
  width: 100%;
  z-index: 99;

  &:hover {
    cursor: pointer;
  }
}

#main-container {
  max-width: 370px;
}

#top-navbar {
  background: $t-white;

  > button:focus {
    outline: 0;
  }
}
