$font-family-base: 'Tajawal', sans-serif;

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

$t-white: rgba(255, 255, 255, 0.97);

body {
  height: 200vh;
}

#dashboard {
  background: $t-white;
  font-size: 2rem;

  .nav-link {
    padding: 0;
  }
}

#top-navbar {
  background: $t-white;

  > button:focus {
    outline: 0;
  }
}
