$font-family-base: 'Roboto Mono', monospace;

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

$body-top-padding: 50px;
$charmander-dark: #e9ab7c;
$charmander-light: #f5e5ca;
$opacity: 0.85;

%bgc-char-dark {
  background-color: rgba($charmander-dark, $opacity);
}

h1 {
  font-size: 2rem;
}

body, html {
  background-color: $charmander-light;
}

div, li, li, p, ul {
  background-color: transparent;
}

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

body {
  height: 200vh;
  padding-top: $body-top-padding;
}

.jumbotron {
  background-color: transparent;
}

.list-group-item {
  background-color: transparent;
}

#dashboard {
  background-color: rgba($charmander-dark, $opacity);
  font-size: 2rem;

  .nav-link {
    padding: 0;
  }
}

#flash {
  background-color: rgba($charmander-light, $opacity);
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%);
  width: 100%;
  z-index: 99;

  &:hover {
    cursor: pointer;
  }
}

#main-container {
  max-width: 370px;
}

#top-navbar {
  background: rgba($charmander-dark, $opacity);

  > button:focus {
    outline: 0;
  }
}
