<div class="d-flex flex-column form-group mb-0">
  <% if local_assigns["nice_name"] %>
    <%= form.label name, nice_name, class: "m-0 text-center text-lowercase" %>
  <% else %>
    <%= form.label name, class: "m-0 text-center text-lowercase" %>
  <% end %>
  <%= yield %>
</div>
