<div
  id="top-navbar"
  class="border-bottom fixed-top justify-content-center navbar navbar-light py-1"
  role="navigation">

  <button
    class="border-0 collapsed navbar-toggler" type="button"
    data-toggle="collapse" data-target="#main-navbars"
    aria-controls="main-navbars" aria-expanded="false" aria-label="toggle navigation">

    <span class="navbar-brand mx-0 pt-2"><%= heading yield(:heading) %></span>
  </button>
  <div id="main-navbars" class="navbar-collapse collapse">
    <ul class="navbar-nav text-center">
      <%= render "layouts/nav_item", name: "mospend", link: root_path %>
      <% if user_signed_in? %>
        <%= render "layouts/nav_item", name: "logout", link: destroy_user_session_path,
          method: :delete %>
      <% else %>
        <%= render "layouts/nav_item", name: "login", link: new_user_session_path %>
      <% end %>
    </ul>
  </div>
</div>
