<nav class="navbar navbar-light border-bottom justify-content-center">
  <button
    class="navbar-toggler collapsed border-0" type="button"
    data-toggle="collapse" data-target="#main-navbars"
    aria-controls="main-navbars" aria-expanded="false" aria-label="toggle navigation"
  >
    <span class="navbar-brand mx-0">mospend</span>
  </button>
  <div id="main-navbars" class="navbar-collapse collapse show">
    <ul class="navbar-nav text-center">
      <li class="nav-item">
        <%= link_to 'home', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to 'sign out', destroy_user_session_path, method: :delete, class: "nav-link" %>
        <% else %>
          <%= link_to 'sign in', new_user_session_path, class: "nav-link" %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
